.start-page {
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;    
}

.title {
	border: 2px black solid;
    background-color: #49a3a0;
    border: 5px solid #e6a3ce;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    width: 50%;
}

.title-pic {
	width: 80%;
}

.next {
    margin: auto;
    text-align: center;    
}

.button {
    border: 2px solid black;
    background-color: #e6a3ce;
    border-radius: 20px;
    height: 25px;
    width: 20%;
    outline: none;
    font-size: 15px;
    letter-spacing: 3px;
    transition: 0.25s;
}

.button:hover {
    width: 25%;
    cursor: pointer;
}

.section {	
    border: 3px solid #e6a3ce;
    width: 85%;
    margin: auto;
    margin-top: 2%;
    padding: 15px;
    display: none;
}

.end-page {	
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; 
	display: none;
}

.end {
	border: 2px black solid;
    border: 2px black solid;
    background-color: #49a3a0;
    border: 5px solid #e6a3ce;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    width: 50%;
}

.flex {   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flex-list {	
    width: 75%;
    height: 50%;
}

h1 {
    font-family: 'Red Rose', cursive;
    text-align: center;
    letter-spacing: 3px;
    font-size: 55px;
    color: white;
}

h2 {
    font-family: 'Cherry Swash', cursive;
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
    color: white;
}

.text {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 30px;
    color: white;
}    

body{
	background-color: #6e665e;
}

/* Picture Adjustments */
.pic1 {
	width: 123%;
    margin-left: 30%;
}

.pic2 {
	width: 50%;
     margin-left: 37%;
}

.pic3 {
	width: 90%;
    margin-left: 22px;
}

.pic4 {
	width: 90%;
    height: 100%;
    margin-left: 32px;
}

.pic5 {
	width: 100%;    
    margin-top: 80px;
}

.pic6 {
	width: 80%;
    margin-left: 150px;
}
